<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado de reservas</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="/js/jquery-3.7.1.js"></script>
	<style>
		body {
			padding-top: 10%;
			padding-bottom: 10%;
			/* Altura del navbar */
		}
	</style>
</head>

<body class="bg-dark">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-sm fixed-top varbar-success bg-secondary text-white">
		<a class="navbar-brand text-white mx-2" href="#">Polideportivo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<section class="collapse navbar-collapse" id="menu">
			<nav class="navbar-nav mx-2">
				<a th:if="${rol == 'ABONADO'}" href="/pistas/lista/abonado" class="nav-link text-white">Pistas</a>
				<a th:if="${rol == 'ADMIN' or rol == 'TRABAJADOR'}" href="/pistas/lista/abonado" class="nav-link text-white">Pistas</a>
				<a th:if="${rol == 'ABONADO'}" href="/reservas/lista/abonado" class="nav-link text-white">Reservas</a>
				<a th:if="${rol == 'ADMIN' or rol == 'TRABAJADOR'}" href="/reservas/lista"
					class="nav-link text-white">Reservas</a>
				<a th:if="${rol == 'ADMIN' or rol == 'TRABAJADOR'}" href="/abonados/lista"
					class="nav-link text-white">Abonados</a>
				<a th:if="${rol == 'ADMIN'}" href="/trabajadores/lista" class="nav-link text-white">Trabajadores</a>
				<a sec:authorize="isAuthenticated()" href="/tipo-hora/lista" class="nav-link text-white">Horas</a>
				<a th:if="${rol == 'ADMIN' or rol == 'TRABAJADOR'}" href="/tipo-pista/lista"
					class="nav-link text-white">Tipos de pistas</a>
			</nav>
			<section class="row mx-2">
				<a href="/logout" class="col-sm mx-2 btn btn-primary">Cerrar Sesión</a>
			</section>
		</section>
	</nav>

	<main class="bg-white container rounded p-2 mt-5">
		<h1 class="text-center">Listado de reservas</h1>
		<a href="/reservas/crear/abonado" class="btn btn-primary btn-sm mx-2">Crear reserva</a>
		<section class="table-responsive" th:if="${reservas.size() > 0}">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Pista</th>
						<th>Hora</th>
						<th>DNI Abonado</th>
						<th>Fecha Reserva</th>
						<th>Precio</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody id="tbodyListado">
					<tr th:each="reserva: ${reservas}">
						<td th:each="pista : ${pistas}" th:if="${reserva.idPista == pista.id}">
							<span th:each="tipoPista : ${tipoPistas}" th:if="${tipoPista.id == pista.idTipoPista}"
								th:text="${tipoPista.descripcion}"></span>
						</td>
						<td th:each="hora : ${horas}" th:if="${reserva.idTipoHora == hora.id}" th:text="${hora.tramo}">
						</td>
						<td th:each="abonado : ${abonados}" th:if="${reserva.idAbonado == abonado.id}"
							th:text="${abonado.dni}"></td>
						<td th:text="${reserva.fechaReserva}"></td>
						<td th:text="${reserva.precioReserva}"></td>
						<td>
							<button class="btn btn-danger btn-sm mx-2"
								th:attr="onclick='eliminarReserva(' + ${reserva.id} + ')'">Eliminar</button>
							<a class="btn btn-primary btn-sm mx-2"
								th:href="@{'/reservas/modificar/abonado/' + ${reserva.id}}">Modificar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section th:if="${reservas.size() == 0}" class="alert alert-warning" id="mensaje">No hay reservas en la base de
			datos</section>
	</main>

	<script>
		function eliminarReserva(id) {
			if (confirm('¿Estás seguro de que deseas eliminar esta reserva?')) {
				fetch('/reservas/eliminar/' + id, {
					method: 'DELETE'
				})
					.then(data => {
						window.location.reload();
					})
					.catch(error => console.error('Error:', error));
			}
		}
	</script>
</body>

</html>